@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Press+Start+2P&display=swap');

:root{
	--pink: #e60f7e;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}

.section-title span {
	color: var(--pink);
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 10px solid var(--pink);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}

.cta:hover {
	color: white;
	background-color: var(--pink);
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
	font-family: 'Press Start 2P', cursive;
}

.brand h1 span {
	color: var(--pink);
}

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: var(--pink); 
  }

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	background-color: transparent;
}

#header .header {
	min-height: 8vh;
	background-color: #000;
	transition: 0.3s ease background-color;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
	font-family: 'Press Start 2P', cursive;
}

#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#header .nav-list ul li:hover a {
	color: var(--pink);
}

#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}

#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}

#header .hamburger .bar::after {
	top: 8px;
}

#header .hamburger .bar::before {
	bottom: 8px;
}

#header .hamburger.active .bar::before {
	bottom: 0;
}

#header .hamburger.active .bar::after {
	top: 0;
}

/* End Header section */

.overlay{
	position: absolute;
	width: 100%;
	height: 20%;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: linear-gradient(180deg,transparent,#000 95%,#000);
}

/* Hero Section */

#hero {
	background-image: url("//images.ctfassets.net/ha9l1rdpelqe/4eoYZMmt9IE0vwj3eHjgMB/09fa96a4832da959b4b87651c6e29957/baner2.png?w=1900&fm=jpg&fl=progressive");
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	font-family: 'Press Start 2P', cursive;
	line-height: 90px;
}

#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}

#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}

#hero h1:nth-child(1) {
	animation-delay: 1s;
}

#hero h1:nth-child(2) {
	animation-delay: 2s;
}

#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}

#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: var(--pink);
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */

/* Services Section */

#services{
	background-color: #000;
}

.service-title{
	color: #FFF;
}

#services p{
	color: #FFF;
}

#services .services {
	flex-direction: column;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	padding: 100px 0;
}

#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}

#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

#services .icon{
	border: 10px solid white;
}

	
/* End Services Section */

/* About Section */

#about{
	background-color: #000;
}

#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

#about .col-left {
	width: 250px;
	height: 360px;
	padding-right: 25px;
}

#about .col-right {
	width: 100%;
}

#about .col-right h1{
	color: #FFF;
}

#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}

#about .col-right p {
	margin-bottom: 20px;
	color: #FFF;
}

#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
	color: #FFF;
}

#about .col-left .about-video {
	height: 100%;
	width: 100%;
	position: relative;
}

#about .faq-container{
	width: 75%;
	margin: auto;
	padding: 100px 0;
}

#about .about-faq{
	padding-bottom: 75px;
}

#about .about-faq, h1, p{
	color: #FFF;
}

#about .about-faq h1{
	font-family: 'Press Start 2P', cursive;
	color: var(--pink);
	font-size: 2em;
	line-height: 40px;
}

#about .about-faq p{
	line-height: 30px;
}

/* End About Section */

/* Footer */
#footer {
	background-color: #000;
}

#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

#footer p {
	color: white;
	font-size: 1.5rem;
	font-family: 'Press Start 2P', cursive;
}

#footer a {
	color: var(--pink);

}

/* End Footer */

/* Keyframes */

@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: var(--pink);
		font-weight: 500;
	}
}

/* End Keyframes */

/* Media Query For phone */

@media only screen and (max-width: 500px) {

	.cta {
		font-size: 1em;
		border: 5px solid var(--pink);
		padding: 0;
	}

	h1.section-title {
		font-size: 2em;
	}

	.brand h1{
		font-size: 2.5em;
	}

	/* Hero */

	#hero h1 {
		font-size: 3em;
		line-height: 50px;
	}

	/* End Hero */

	.overlay{
		width: 0;

	}

	/* Services Section */

	#services .service-bottom .service-item {
		flex-basis: 100%;
		margin: 2.5%;
	}

	/* End Services Section */

	#about .container{
		padding-bottom: 0;
	}

	#about .col-left {
		margin-left: 30px;
	}

	#about .col-right {
		text-align: left;
		padding: 0 30px 0 30px;
	}

	#about .col-right h1 {
		text-align: left;
	}

	/* End About */

	/* start footer */

	#footer .container{
		padding-top: 0;
	}

	#footer p{
		font-size: 10px;
	}

	/* End footer */
}

/* End Media Query For phone */


/* Media Query For Tablet */

@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}

	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */

	#hero h1 {
		font-size: 7rem;
	}

	/* End Hero */

	/* Services Section */

	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}

	/* End Services Section */

	/* About */

	#about .about {
		flex-direction: row;
	}

	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}

	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid var(--pink);
	}

	#about .col-right {
		text-align: left;
		padding: 30px;
	}

	#about .col-right h1 {
		text-align: left;
	}

	/* End About */
}

/* End Media Query For Tablet */

/* Media Query For Desktop */

@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}

	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}

	#header .nav-list ul li {
		display: inline-block;
	}

	#header .nav-list ul li a {
		font-size: 1.8rem;
	}

	#header .nav-list ul a:after {
		display: none;
	}

	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}

/* End  Media Query For Desktop */
